{
  "presets": [
    ["@babel/preset-env", { "modules": false, "targets": ["last 5 versions", "safari >= 7"] }]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-transform-modules-commonjs"],
}
