{
  "extends": ["airbnb-base"],
  "rules": {
    "no-underscore-dangle": false,
  },
  "globals": {
    "Atomics": readonly,
    "emit": readonly,
    "jest": readonly,
    "test": readonly,
    "expect": readonly,
    "beforeEach": readonly,
    "beforeAll": readonly,
    "afterAll": readonly,
    "describe": readonly,
    "it": readonly,
    "document": readonly
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
